# Excluir compilación
out/
cache/

# Excluir dependencias (esto es lo que suma 800+ archivos)
lib/

# Archivo de claves (CRÍTICO)
.env

# Logs de Foundry
broadcast/
/script/*.s.sol/*.json

# Archivos de sistema
.DS_Store